@font-face {
  font-family: "Roboto"; /* Название, которое вы будете использовать в коде */
  src: url("./RobotoMono.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Roboto, Helvetica, sans-serif;
}
.c200m {
  max-width: 450px;
  width: 90%;
  position: relative;
}
.screen {
  width: 84%;
  height: 15%;
  position: absolute;
  top: 11%;
  left: 8%;
  container-type: size;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
}
.line {
  font-size: 40cqh;
  padding: 0 5px;
  line-height: 1.2;
}

.butt:hover {
  cursor: pointer;
  .fil10 {
    fill: #ffff00 !important;
  }
}
.lock {
  position: absolute;
  right: 3%;
  top: 10%;
  height: 30%;
}

.scr-up {
  margin-top: 0;
  margin-bottom: auto;
}
.scr-down {
  margin-top: auto;
  margin-bottom: 0;
}

@keyframes blink {
  0% {
    fill: #ff0000;
  } /* Начальный цвет */
  50% {
    fill: #434242;
  } /* Цвет в середине */
  100% {
    fill: #ff0000;
  } /* Конечный цвет (возврат) */
}

.fire {
  animation: blink 1s infinite; /* 1 секунда, бесконечно */
}

.muted {
  fill: #ffff00 !important;
}

.traning {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #00000020;
  button {
    font-size: calc(1em + 2vw);
    border: none;
    padding: 15px 30px;
    border-radius: 20px;
    background: #0000ff;
    color: #fff;
  }
}

.hide {
  display: none !important;
}

.maps {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 99;
  background: #434242;
  svg {
    height: 80%;
  }
}
